@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: "Poppins", sans-serif;
	}
	.label-theme {
		@apply flex flex-col text-slate-900;
	}
	.input-theme {
		@apply h-8 w-56 text-cyan-700 outline-cyan-500 px-1 rounded;
	}
	.model-theme {
		@apply fixed inset-0 bg-sky-900 bg-opacity-30 backdrop-blur-sm flex justify-center items-center;
	}
	.bg-theme {
		@apply bg-gradient-to-r from-sky-500 to-indigo-500;
	}
	.btn-theme {
		@apply py-1 px-2 bg-cyan-800 text-white hover:bg-cyan-700 rounded;
	}
	.box-theme {
		@apply hover:shadow-cyan-300 hover:shadow-lg  bg-gradient-to-r from-sky-500/80 to-indigo-500/80 rounded;
	}
}
